<div *ngIf="subjectGroupSubject">
    <h3>Subject-Group Subject Details</h3>
    <br/>
    <div>
        <label>Subejct Group: {{subjectGroupName}} </label>
    </div>
    <br/>
    <div>
        <label>Subject: </label>
        <select [(ngModel)]="subjectGroupSubject.subjectId" (change)="subjectSelected($event.target.value)">
            <option *ngFor="let subject of subjects" value={{subject.id}}>{{subject.subjectName}}</option>
        </select>
    </div>
    <br/>
    <button class="btn btn-normal btn-md" (click)="goBack()">Back</button>
    <button class="btn btn-success btn-md" (click)="save()">Save</button>
</div>
