<ul class="breadcrumb">
    <li class="active">CCE Section Heading</li>
</ul>
<div>
    <label>Select Coscholastic: </label>
    <select [(ngModel)]="selectedCosch.id" (change)="coschSelected($event.target.value)">
        <option *ngFor="let cosch of coscholastics" value={{cosch.id}}>{{cosch.name}}</option>
    </select>
</div>
<div *ngIf="selectedCosch" class="row col-md-6">
    <table class="table table-bordered table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sectionHeading of sectionHeadings" (click)="onSelect(sectionHeading)" [class.selected]="sectionHeading === selectedSectionHeading">
                <td class="col-md-4">{{sectionHeading.name}}</td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-primary btn-xs center-block" (click)="gotoEdit(sectionHeading, $event)">
                        edit
                    </button>
                </td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-danger btn-xs center-block" (click)="deleteSection(sectionHeading, $event)">
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addSectionHeading()">Add New </button>
<div *ngIf="addingSectionHeading">
    <ui-cce-section-heading-detail (close)="close($event)"></ui-cce-section-heading-detail>
</div>
