<ul class="breadcrumb">
    <li class="active">Subject-Teacher</li>
</ul>
<div class="clearfix"></div>
<br/>
<div>
    <label>Select Class: </label>
    <select [(ngModel)]="selectedClass.id" (change)="classSelected($event.target.value)">
        <option *ngFor="let classs of classes" value={{classs.id}}>{{classs.className}}</option>
    </select>
    <button *ngIf="addingSubjectTeacher" type="button" class="btn btn-warning btn-md" (click)="setupSubjectTeacher()">Setup Subject-Teacher</button>
</div>
<br/>
<div>
    <label>Select Section: </label>
    <select [(ngModel)]="selectedSection.id" (change)="sectionSelected($event.target.value)">
        <option *ngFor="let section of sections" value={{section.id}}>{{section.sectionName}}</option>
    </select>
</div>
<div class="row col-md-8">
    <table class="table table-bordered table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Teacher</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subjectTeacher of subjectTeachers" (click)="onSelect(subjectTeacher)" [class.selected]="subjectTeacher === selectedSubjectTeacher">
                <td class="col-md-3">{{subjectTeacher.subjectName}}</td>
                <td class="col-md-3">{{subjectTeacher.teacherName}}</td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-primary btn-xs center-block" (click)="gotoEdit(subjectTeacher, $event)">
                        edit
                    </button>
                </td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-danger btn-xs center-block" (click)="deleteSubjectTeacher(subjectTeacher, $event)">
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
