<ul class="breadcrumb">
	<li class="active">Subject Group</li>
</ul>

<div class="row col-md-5">
<table class="table table-bordered table-striped">
	<caption></caption>
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let subjectGroup of subjectGroups" (click)="onSelect(subjectGroup)" [class.selected]="subjectGroup === selectedSubjectGroup">
			<td class="col-md-3">{{subjectGroup.subjectGroupName}}</td>
			<td class="col-md-1">
				<button type="button" class="btn btn-primary btn-xs center-block" (click)="gotoEdit(subjectGroup, $event)">
					edit
				</button>
			</td>
			<td class="col-md-1">
				<button type="button" class="btn btn-danger btn-xs center-block" (click)="deleteSubjectGroup(subjectGroup, $event)">
					delete
				</button>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="clearfix"></div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addSubjectGroup()">Add New </button>
<div *ngIf="addingSubjectGroup">
  <ui-subject-group-detail (close)="close($event)"></ui-subject-group-detail>
</div>