<div *ngIf="subjectTeacher">
    <h3>Subject-Teacher Details</h3>
    <br/>
    <div>
        <label>Class: {{className}} </label>
    </div>
    <br/>
    <div>
        <label>Section: {{sectionName}} </label>
    </div>
    <br/>
    <div>
        <label>Subject: {{subjectName}} </label>
    </div>
    <br/>
    <div>
        <label>Teacher: </label>
        <select [(ngModel)]="subjectTeacher.teacherId" (change)="teacherSelected($event.target.value)">
            <option *ngFor="let teacher of teachers" value={{teacher.id}}>{{teacher.teacherName}}</option>
        </select>
    </div>
    <br/>
    <button class="btn btn-normal btn-md" (click)="goBack()">Back</button>
    <button class="btn btn-success btn-md" (click)="save()">Save</button>
</div>
