<ul class="breadcrumb">
	<li class="active">Class</li>
</ul>

<div class="row col-md-9">
<table class="table table-bordered table-striped">
	<caption></caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Attendance Type</th>
			<th>Homework Type</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let clas of classes" (click)="onSelect(clas)" [class.selected]="clas === selectedClass">
			<td class="col-md-3">{{clas.className}}</td>
			<td class="col-md-2">{{clas.attendanceType}}</td>
			<td class="col-md-2">{{clas.homeworkType}}</td>
			<td class="col-md-1">
				<button type="button" class="btn btn-primary btn-xs center-block" (click)="gotoEdit(clas, $event)">
					edit
				</button>
			</td>
			<td class="col-md-1">
				<button type="button" class="btn btn-danger btn-xs center-block" (click)="deleteClass(clas, $event)">
					delete
				</button>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="clearfix"></div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addClass()">Add New </button>
<div *ngIf="addingClass">
  <ui-class-detail (close)="close($event)"></ui-class-detail>
</div>