<div *ngIf="clas">
    <h3>Class Details</h3>
    <br/>
    <div>
        <label>name: </label>
        <input [(ngModel)]="clas.className" placeholder="Class Name" />
    </div>
    <br/>
    <div>
        <label>Attendance Type: </label>
        <select [(ngModel)]="clas.attendanceType">
            <option *ngFor="let attType of attendanceTypes" value={{attType.type}}>{{attType.type}}</option>
        </select>
    </div>
    <br/>
    <button class="btn btn-normal btn-md" (click)="goBack()">Back</button>
    <button class="btn btn-success btn-md" (click)="save()">Save</button>
</div>
