<div *ngIf="clas">
    <h3>Class Details</h3>
    <br/>
    <form (ngSubmit)="save()" #classForm="ngForm">
        <div class="form-group row">
            <label for="name" class="col-md-2">Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="clas.className">
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-md-2">Attendance Type</label>
            <div class="col-md-4">
                <select class="form-control" id="type" name="type" required [(ngModel)]="clas.attendanceType">
                    <option *ngFor="let attType of attendanceTypes" [value]="attType.type">
                        {{attType.type}}</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-normal btn-md" (click)="goBack()">Back</button>
        <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
    <br/>
</div>
