<ul class="breadcrumb">
    <li class="active">Sliptest</li>
</ul>
<div class="form-group row">
    <label for="clas" class="col-md-2">Class :</label>
    <div class="col-md-4">
        <select class="form-control" id="clas" name="clas" required [(ngModel)]="selectedClass.id" (change)="classSelected($event.target.value)">
            <option *ngFor="let classs of classes" [value]="classs.id">{{classs.className}}</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="sec" class="col-md-2">Section :</label>
    <div class="col-md-4">
        <select class="form-control" id="sec" name="sec" required [(ngModel)]="selectedSection.id" (change)="sectionSelected($event.target.value)">
            <option *ngFor="let section of sections" [value]="section.id">{{section.sectionName}}</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="group" class="col-md-2">Subject Group :</label>
    <div class="col-md-4">
        <select class="form-control" id="group" name="group" required [(ngModel)]="selectedCSG.subjectGroupId" (change)="csgSelected($event.target.value)">
            <option *ngFor="let group of classSubjectGroups" [value]="group.subjectGroupId">{{group.subjectGroupName}}</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="subject" class="col-md-2">Subject :</label>
    <div class="col-md-4">
        <select class="form-control" id="subject" name="subject" [(ngModel)]="selectedSGS.subjectId" required (change)="sgsSelected($event.target.value)">
            <option *ngFor="let subject of subjectGroupSubjects" [value]="subject.subjectId">{{subject.subjectName}}</option>
        </select>
    </div>
</div>
<div *ngIf="selectedSGS" class="row col-md-6">
    <table class="table table-bordered table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let slip of sliptests" (click)="onSelect(slip)" [class.selected]="slip === selectedPortion">
                <td class="col-md-4">{{slip.sliptestName}}</td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-primary btn-xs center-block" (click)="gotoEdit(slip, $event)">
                        edit
                    </button>
                </td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-danger btn-xs center-block" (click)="deletePortion(slip, $event)">
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addSliptest()">Add New</button>
<div *ngIf="addingSliptest">
    <ui-sliptest-detail (close)="close($event)"></ui-sliptest-detail>
</div>
