<ul class="breadcrumb">
    <li class="active">Sub-Activity</li>
</ul>
<div>
    <label>Class: </label>
    <select [(ngModel)]="selectedClass.id" (change)="classSelected($event.target.value)">
        <option *ngFor="let clas of classes" value={{clas.id}}>{{clas.className}}</option>
    </select>
</div>
<br/>
<div>
    <label>Exam: </label>
    <select [(ngModel)]="selectedExam.id" (change)="examSelected($event.target.value)">
        <option *ngFor="let exam of exams" value={{exam.id}}>{{exam.examName}}</option>
    </select>
</div>
<br/>
<div>
    <label>Section: </label>
    <select [(ngModel)]="selectedSection.id" (change)="sectionSelected($event.target.value)">
        <option *ngFor="let section of sections" value={{section.id}}>{{section.sectionName}}</option>
    </select>
</div>
<br/>
<div>
    <label>Subject: </label>
    <select [(ngModel)]="selectedExamSubject.subjectId" (change)="examSubjectSelected($event.target.value)">
        <option *ngFor="let examSubject of examSubjects" value={{examSubject.subjectId}}>{{examSubject.subjectName}}</option>
    </select>
</div>
<br/>
<div>
    <label>Activity: </label>
    <select [(ngModel)]="selectedActivity.id" (change)="activitySelected($event.target.value)">
        <option *ngFor="let act of activities" value={{act.id}}>{{act.activityName}}</option>
    </select>
</div>
<div class="row col-md-12">
    <table class="table table-bordered table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Max Mark</th>
                <th>Weightage</th>
                <th>Calculation</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subact of subActivities" (click)="onSelect(subact)" [class.selected]="subact === selecteSubdActivity">
                <td class="col-md-4">
                    <input [(ngModel)]="subact.subActivityName"/>
                </td>
                <td class="col-md-2">
                    <input [(ngModel)]="subact.maximumMark"/>
                </td>
                <td class="col-md-2">
                    <input [(ngModel)]="subact.weightage"/>
                </td>
                <td class="col-md-2">
                    <input [(ngModel)]="subact.calculation"/>
                </td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-primary btn-xs center-block" (click)="update(subact, $event)">
                        update
                    </button>
                </td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-danger btn-xs center-block" (click)="delete(subact, $event)">
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="add()">Add </button>

<div *ngIf="addingSubActivity">
    <div *ngIf="subActivity">
    <h3>Sub-Activity Details</h3>
    <br/>
    <form (ngSubmit)="save()" #examForm="ngForm">
        <div class="form-group row">
            <label for="className" class="col-md-1">Class :</label>
            <div class="col-md-4">
                {{selectedClass.className}}
            </div>
        </div>
        <div class="form-group row">
            <label for="sectionName" class="col-md-1">Section :</label>
            <div class="col-md-4">
                {{selectedSection.sectionName}}
            </div>
        </div>
        <div class="form-group row">
            <label for="exanName" class="col-md-1">Exam :</label>
            <div class="col-md-4">
                {{selectedExam.examName}}
            </div>
        </div>
        <div class="form-group row">
            <label for="subjectName" class="col-md-1">Subject :</label>
            <div class="col-md-4">
                {{selectedExamSubject.subjectName}}
            </div>
        </div>
        <div class="form-group row">
            <label for="activityName" class="col-md-1">Activity :</label>
            <div class="col-md-4">
                {{selectedActivity.activityName}}
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-md-1">Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="subActivity.subActivityName">
            </div>
        </div>
        <div class="form-group row">
            <label for="maxMark" class="col-md-1">Maximum Mark</label>
            <div class="col-md-4">
                <input type="number" class="form-control" id="maxMark" name="maxMark" required [(ngModel)]="subActivity.maximumMark">
            </div>
        </div>
        <div class="form-group row">
            <label for="weightage" class="col-md-1">Weightage</label>
            <div class="col-md-4">
                <input type="number" class="form-control" id="weightage" name="weightage" required [(ngModel)]="subActivity.weightage">
            </div>
        </div>
        <div class="form-group row">
            <label for="calc" class="col-md-1">Calculation</label>
            <div class="col-md-4">
                <input type="number" class="form-control" id="calc" name="calc" required [(ngModel)]="subActivity.calculation">
            </div>
        </div>
        <button type="button" class="btn btn-normal btn-md" (click)="close()">Back</button>
        <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
    <br/>
</div>
</div>
