<div *ngIf="classSubjectGroup">
    <h3>Class Subject-Group Details</h3>
    <br/>
    <div>
        <label>Class: {{className}} </label>
    </div>
    <br/>
    <div>
        <label>Subject-Group: </label>
        <select [(ngModel)]="classSubjectGroup.subjectGroupId" (change)="subjectGroupSelected($event.target.value)">
            <option *ngFor="let subjectGroup of subjectGroups" value={{subjectGroup.id}}>{{subjectGroup.subjectGroupName}}</option>
        </select>
    </div>
    <br/>
    <button class="btn btn-normal btn-md" (click)="goBack()">Back</button>
    <button class="btn btn-success btn-md" (click)="save()">Save</button>
</div>
