<div *ngIf="classSubjectGroup">
    <h3>Class Subject-Group Details</h3>
    <br/>
    <form (ngSubmit)="save()" #csgForm="ngForm">
        <div class="form-group row">
            <label for="name" class="col-md-2">Class</label>
            <div class="col-md-4">
                {{className}}
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-md-2">Subject-Group</label>
            <div class="col-md-4">
                <select class="form-control" id="type" name="type" required [(ngModel)]="classSubjectGroup.subjectGroupId" (change)="subjectGroupSelected($event.target.value)">
                    <option *ngFor="let subjectGroup of subjectGroups" [value]="subjectGroup.id">{{subjectGroup.subjectGroupName}}</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-normal btn-md" (click)="goBack()">Back</button>
        <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
    <br/>
</div>
